
<div class="container">
<mat-tab-group class="mt-5 pt-5" mat-align-tabs="center">
  <mat-tab label="Sign in">
  	<form class="text-center mt-5 mb-5">
	<mat-form-field appearance="outline">
		
    	<mat-label>Email</mat-label>
    	<input matInput placeholder="someone@example.com" [(ngModel)]="email" name="email">
    	
	</mat-form-field>

	<mat-form-field appearance="outline">
    	<mat-label>Password</mat-label>
    	<input matInput type="password" placeholder="enter password" [(ngModel)]="password" name="password">	</mat-form-field>

	<button class="btn btn-lg btn-block btn-secondary mt-3" type="submit" (click)="loginUser()">Sign in</button>
</form>
  </mat-tab>
  <mat-tab label="Sign up">
  	<app-register></app-register>
  </mat-tab>
</mat-tab-group></div>

